.storiesContent{
    display: flex;
    flex-direction: column;
    height: -webkit-fill-available;
    padding: 16px;
    overflow-y: scroll;
}
.storiesContent::-webkit-scrollbar{
    display: none;
}
header{
    display: flex;
}
.storiesContent__new, .storiesContent__past{
    display: flex;
    border: none;
    outline: none;
    flex-direction: row;
    justify-content: center;
    align-items: flex-start;
    padding: 4px 12px;
    width: 61px;
    height: 24px;
    left: 16px;
    top: 67px;
    background: #FBC91B;
    border-radius: 12px;
    color: rgba(0, 0, 0, 0.82);

    font-family: Open Sans;
    font-style: normal;
    font-weight: bold;
    font-size: 16px;
    line-height: 100%;
}
.storiesContent__past{
    background-color: #F2F2F2 ;
    margin-left: 7px;
}
.storycard{
    width: auto;
    padding: 16px;
    margin: 16px 0px;
    height: 123px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    background: #FFFFFF;
    box-shadow: 0px 3px 28px rgba(0, 0, 0, 0.08);
    border-radius: 12px;
}
.react-reveal>a{
    text-decoration: none;
}
.storiesList>button{
    background: #FFC700;
    border-radius: 12px;
    width: 100%;
    height: 48px;
    border: none;
    outline: none;
    font-family: Open Sans;
    font-style: normal;
    font-weight: bold;
    font-size: 16px;
    line-height: 22px;
    color: #000000;
}
.storycard>h2, .storycard>p,.storycard__info{
    font-family: Open Sans;
    font-style: normal;
    font-weight: bold;
    font-size: 12px;
    line-height: 16px;
    padding-bottom: 16px;
    margin: 0%;

    color: rgba(0, 0, 0, 0.82);
}

.storycard>p, .storycard__info{
    font-weight: normal;
    font-size: 10px;
}

.storycard__info{
    display: flex;
    align-items: center;
    padding-bottom: 0px;
    font-size: 8px;
    line-height: 11px;
    color: rgba(0, 0, 0, 0.5);
}
.storycard__info>img{
    margin-right: 5px;
}